@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Pacifico&family=Permanent+Marker&family=Inter:wght@100;300;400;500;700;900&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto text-slate-800 bg-gray-50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat font-bold text-primary;
  }
}
